
.wishlist{
  box-shadow: 0px 0px 18px rgb(1, 2, 3) ;
  border:1px solid rgb(146, 144, 144);
  height: 65vh;
  margin: auto;
  width: 30vw;
  margin-top: 10%;
  border-radius: 10px 40px 10px;
  background: rgb(9, 12, 12);
  background: linear-gradient(90deg, rgb(201, 248, 237) 34%, rgb(183, 221, 247) 66%);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inpt{
  width: 90%;
  margin: auto;
  margin-top: 10%;
  /* margin-left: ; */
  font-size: 22px;
  height: 10vh;
  padding-left: 10px;
  align-items: center;
}
#wish{
  
  width: 50%;
  height: 20px;
}
.btn{
  height:3.2vh ;
  margin-left: 3px;
  border-radius: 10%;
}
.datalist{
margin-top: -50px;
font-size: 22px;
}
.but{
  border-style: none;
  background-color: transparent;
}